$background-color: #333;
$background-alt-color: #444;
$hero-headline-color: white;
$hero-headline-shadow-color: #0372b7;
$hero-box-shadow-color: white;
$text-headline-color: white;
$text-color: #ccc;
$separator-color: #666;
$bullet-list-color: #ccc;

$nav-text-color: #ccc;
$nav-background-color: #444;
$nav-active-text-color: white;
$nav-active-background-color: #df0000;


$accordion-background-color: #444;
$accordion-icon-color: #ccc;
$accordion-icon-background-color: #444;
$accordion-icon-active-color: white;
$accordion-icon-active-background-color: #333;