$background-color: white;
$background-alt-color: #f2f2f2;
$hero-headline-color: white;
$hero-headline-shadow-color: #0372b7;
$hero-box-shadow-color: white;
$text-headline-color: #666;
$text-color: #333;
$separator-color: #ccc;
$bullet-list-color: green;
$nav-text-color: #333;
$nav-background-color: #f2f2f2;
$nav-active-text-color: white;
$nav-active-background-color: #df0000;
$accordion-background-color: white;
$accordion-icon-color: #333;
$accordion-icon-background-color: white;
$accordion-icon-active-color: #df0000;
$accordion-icon-active-background-color: #f2f2f2;